* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link, a:visited,
a:hover, a:active,
a {
    text-decoration: none;
    outline: 0;
}

body {
    color: #333;
    cursor: default;
    user-select: none;
    font-family: 'Livvic', sans-serif;
    background: linear-gradient(0deg, #EDE3C9, #FFF) no-repeat;
}

main {
    margin: auto;
    max-width: 980px;
    display: grid;
    grid-template-columns: 50px minmax(300px, 920px);
}

.like {
    text-align: center;
    margin: 250px 0 0 0;
    color: rgb(93, 46, 46);
    font-size: 20px;
    position: sticky;
    top: 0;
    height: 100vh;
}

.like i {
    cursor: pointer;
    margin: 50px 0 0 0;
}

article {
    background-color: #FFF;
    margin: 35px auto 50px auto;
    padding: 0px 25px 25px 25px;
}

article header {
    margin: 0 0 25px 0;
}

article header .text-info {
    margin: 15px 0 0 0;
}

article header .text-info img {
    width: 55px;
    height: auto;
    margin: 0 5px 0 0;
    border-radius: 5px;
    transform: rotate(10deg);
    transition: transform .1s linear 0s;
    display: inline-block;
}

article header .text-info img:hover {
    transform: rotate(0deg);
}

article header .text-info .autor {
    display: inline-block;
}

article header .like_phone {
    display: none;
}

article section #img-div img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 0 15px 0;
    box-shadow: 0 0 5px 0 #333;
}

article section .circle-left {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 0 25px 5px 0;
    float: left;
    shape-outside: circle();
}

article section .circle-right {
    height: 200px;
    width: 200px;
    float: right;
    clip-path: circle();
    shape-outside: circle();
    object-fit: cover;
    object-position: top;
}

/* MEDIA QUERY */
@media only screen and (max-width: 650px) {
    main {
        grid-template-columns: 100%;
    }

    main .like {
        display: none;
    }

    article header .text-info {
        margin: 0 0 0 0;
    }

    article {
        margin: 35px auto 0px auto;
    }

    article header .mobile {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 0 0;
    }

    article header .like_phone {
        display: inline-block;
        text-align: center;
        color: rgb(93, 46, 46);
        font-size: 20px;
        margin: 0 25px 0 0;
    }

    article header .like_phone i {
        cursor: pointer;
    }
}
